$font-path:"C:\Users\shaik\OneDrive\Documents\projects\medsci\medsciV1.0\medsci-swapnil\src\assets\fonts" !default;

@font-face {
    font-family: Albra;
    src: url('#{$font-path}/AlbraSansTRIAL-Regular.otf');
}



