.home {
    height: 100vh;
    margin: 30px 50px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .intro {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        .intro-1 {
            margin: 0 0 60px 0;
            font-family: 'Abhaya Libre', sans-serif;
            font-size: 70px;
            font-weight: 600;
        }
        .intro-2 {
            font-family: 'Abhaya Libre', sans-serif;
            font-size: 20px;
            font-weight: 200;   
        }
    }
}