.dashboard {
  display: flex;
  height: 120vh;
  .sidebar {
    font-family: "Roboto", sans-serif;
    width: 100px;
    position: fixed;
    height: 100vh;
    border-right: 1px solid #F1F1F1;
    box-shadow: 0px 0px 10px rgba(105, 104, 104, 0.2);
    background-color: #F1F1F1;;
    .sidebar-wrapper {
      
      margin-top: 20px;
      display: flex;
      height: 80vh;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .side-link {
        border-radius: 10px;
        height: 50px;
        width: 95%;
        display: flex;
        //flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2px;
        &:hover {
          transform: scale(1.1);
          transition: 0.5s;
          background-color: #696666;
          color: #fff;
        }
        &.selected {
          background-color: #696666;
          color: #fff;
        }
      }
    }
  }
  .not-auth {
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 500;
    .span {
      color: blueviolet;
      &:hover {
        color: rgb(81, 0, 118);
        transition: 0.3s;
      }
    }
  }
}
