.dashboard {
  height: 120vh;
  .sidebar {
    font-family: 'Roboto', sans-serif;
    width: 100px;
    position: fixed;
    height: 100vh;
    border-right: 1px solid #dfdddd;
    box-shadow: 0px 0px 10px rgba(105, 104, 104, 0.2);
    .sidebar-wrapper {
      margin-top: 20px;
      display: flex;
      height: 90%;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .side-link {
        height: 50px;
        width: 100%;
        display: flex;
        //flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2px;
        &:hover {
          background-color: #696666;
            color: #fff;
        }
        &.selected {
            background-color: #696666;
            color: #fff;
          }
      }
    }
  }
}
